/* ------------------------------------------------------
    Widgets
--------------------------------------------------------*/

.crypto-widgets {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        justify-content: space-around !important;
    }

    &__item {
        background: rgba(140, 140, 140, 0.1);
        border: 1px solid rgba(167, 167, 167, 0.2);
        border-radius: 14px;
        padding: 14px;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;

        @media (min-width: 1200px) {
            flex: 0 0 18% !important;
            max-width: 18% !important;
        }

        @media (min-width: 992px) {
            flex: 0 0 32.333%;
            max-width: 32.333%;
        }

        &__header {
            border-bottom: 2px solid #555;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 1.3em;
            flex-direction: row;
        }

        &__img {
            width: 33px;
            height: 33px;
            margin-right: 10px;
        }

        &__symbol {
            text-shadow: 0px 0px 66px #ffc255;
            color: #ffffff;
            font: 13px/120% "robotoBold";
            margin-right: 10px;
        }

        &__name {
            background: #fff8d6;
            border-radius: 3px;
            display: block;
            color: #000000;
            font: 8px/120% "robotoMedium";
            text-shadow: 0px 0px 66px #ffc255;
            margin-right: 10px;
            padding: 3px 7px;
        }

        &__prices {
            display: flex;
            flex-direction: column;
        }

        &__usd-price {
            color: #ffffff;
            font: 19px/120% "robotoBold";
            text-shadow: 0px 0px 66px #ffc255;
            margin: 10px 0;
        }

        &__percent {
            text-shadow: 0px 0px 66px #ffc255;
            font: 13px/120% "robotoRegular";
            color: #ffffff;
        }
    }
}
